*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

nav{
    display: flex;
    justify-content: space-between;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr) 1fr);
    gap: 16px;
}
.grid-item{
    padding: 16px;
    border: 1px solid #212429;
}

.grid-item img{
    max-width: 100%;
    height: auto;

}

h1{
    font-size: 32px;
    color: 212429;
    margin: 16px 0;
}

.grid-item h3{
    font-size: 24px;
    color:#212429
}

@media screen and (max-widht: 768px) {
    .grid-container{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: 100px;
    }
}
